<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('_flowBiteHeadLink') %>
    <title>Buyer-page</title>
</head>
<body>
    <%- include('_navbar') %>
    <h1>halo kak admin</h1>
    <%- include('_flowBiteBodyLink') %>
</body>
</html>